@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.markdown-content {
  background-color: lavender;
  padding: 10px;

  blockquote {
    color: dimgrey;
    padding: 0 1em;
    border-left: 0.25em solid mediumpurple;
  }
}
